* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color:  rgb(138, 138, 255);
}

.logo img {
    width: 60px;
    display: block;
}

ul {
    display: flex;
    gap: 30px;

    list-style: none;
}

ul a {
    text-decoration: none;
    color: red;
    font-weight: bold;

    position: relative;
}

ul a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0;
    height: 2px;

    background-color: red;

    transition: width 0.3s;
}

ul a:hover::after {
    width: 100%;
}

button {
    padding: 10px 20px;

    background-color: red;
    color: white;

    text-decoration: none;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 5px 10px black;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px) {

    nav {
        padding: 0 20px;
    }

    .hamburger {
        display: block;
        color: red;
    }

    ul {
        position: absolute;

        top: 80px;
        left: 0;

        width: 100%;

        background-color: rgb(138, 138, 255);

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        padding: 0;

        max-height: 0;
        overflow: hidden;

        transition: max-height 0.4s ease;
    }

    #menu-toggle:checked ~ ul {
        max-height: 300px;
        padding: 20px;
    }
}